
.resCard {
  background-color: #FFD8CA;
  display: flex;
  flex-direction: column;
  width: 10em;
  padding: 0em 2em 0em 2em;
  margin: 1em;
}

.resDate {
  font-size: 35px;
}

.resName {
  font-size: 20px;
}

.resNumber {
  font-size: 20px;
}

.resTimeStatic {
  font-size: 25px;
  margin-bottom: 0px;
}

.resTime {
  margin-top:0px;
  font-size: 35px;
}
